@import '../global.scss';

.procut-container {
  display: flex;
  flex-wrap: wrap;
  //   height: 300px;

  .hero-product {
    display: flex;
    background-color: red;
    flex-basis: 400px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    img {
      margin-top: 30px;
      height: 250px;
      width: auto;
      object-fit: contain;
    }

    .hero-product-name {
      margin: 10px;
      font-weight: 600;
      font-size: 25px;
    }
    .hero-product-price {
      margin-bottom: 10px;
    }
    .hero-product-button {
      margin-bottom: 10px;

      button {
        height: 40px;
        width: 140px;
        background-color: #b8874d;
        color: #fff;
        border: 0px;
        border-radius: 5px;
        font-size: 16px;
      }
    }
  }

  .desc-product {
    display: flex;
    background-color: green;
    flex-basis: 60%;
    flex-grow: 1;
    flex-wrap: wrap;
    flex-direction: column;

    .table-badge {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding-top: 100px;

        @include mobile{
          // display: flex;
          // flex-direction: column;
          padding-top: 30px;
        }
      .badge {
        
        // display: flex;
        // margin: 30px;
        flex-basis: 50%;
        @include mobile{
          flex-basis: 80%;

        }
        
        img {
          height: 150px;
          width: auto;
        }
      }
      .table {
        flex-basis: 50%;
        
        @include mobile{
          flex-basis: 0%;
          margin: 30px 0px;

        }


      
        table,
        th,
        td {
          border-collapse: collapse;
          border: 1px solid black;
          
          th,td {
              height: 30px;
              padding: 5px;
          }
        }
      }
    }
    .description {
        height: 200px;
        overflow-y: auto;
        text-align: start;
        padding-left: 15px;

        .main-heading{
          color: #8b8e93;
          font-size: 30px;
          margin: 5px 0px;
          font-weight: 800;

          @include mobile{
            font-size: 24px;
          }
        }
        .sub-heading{
          font-size: 18px;
          font-weight: 500;
        }.content{
          font-size: 18px;
          color: #8b8e93;
          
        }
    }
  }
}
